<div [@routerTransition]>
    <app-page-header [heading]="'Project'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Nom Projet</label>
                    <input class="form-control">
                    
                </fieldset>
                </form>
            </div>
                <div class="col-lg-6">
                <form role="form">
                    <fieldset class="form-group">
                        <label>Nombre Taches </label>
                        <input class="form-control">
                        
                    </fieldset>
                    </form>

                </div>
                <div class="col-lg-6">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>Date Debut</label>
                            <input class="form-control">
                            
                        </fieldset>
                        </form>
    
                    </div>
                    <div class="col-lg-6">
                        <form role="form">
                            <fieldset class="form-group">
                                <label>Date Fin</label>
                                <input class="form-control">
                                
                            </fieldset>
                            </form>
        
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <fieldset class="form-group">
                                    <label>Nom Du Client </label>
                                    <input class="form-control">
                                    
                                </fieldset>
                                </form>
            
                            </div>
                            <div class="col-lg-6">
                                <form role="form">
                                    <fieldset class="form-group">
                                        <label>Situation Actuel </label>
                                        <input class="form-control">
                                        
                                    </fieldset>
                                    </form>
                
                                </div>
                                
                    
                                    
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Heure supplementaire</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        </div>
                                        <br>
                                        <div class="col-lg-8">
                                            <button type="button" class="btn btn-lg btn-danger">Cancel</button>
                                            
                                        
                                        </div>
                                            <button type="button" class="btn btn-lg btn-primary">Save</button>
                                        </div>
                                        
                                        </div>
                                      
                                       