<div [@routerTransition]>
    <app-page-header [heading]="'Tache'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <p><button type="button" class="btn btn-lg btn-success" [routerLink]="['/createtask']">Nouveau Tache</button></p>
    
    <div class="card mb-3">
        <div class="card-header">Liste des Taches</div>
        <div class="card-body table-responsive">
            <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>NomTache </th>
            <th>DateTache</th>
            <th>Description</th>
            <th>Nom chef</th>
            
            <th>Nom employee</th>  
            <th>Projet</th>  
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <th scope="row">1</th>
           
            <td>
                <a class="mr-3"><i class="fa fa-pencil"></i></a>
                <a ><i class="fa fa-close"></i></a>
             </td>
        </tr>
        <tr class="table-success">
            <th scope="row">2</th>
           
            <td>
                <a class="mr-3"><i class="fa fa-pencil"></i></a>
                <a ><i class="fa fa-close"></i></a>
             </td>
            
        </tr>
        <tr class="table-info">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <a class="mr-3"><i class="fa fa-pencil"></i></a>
                <a ><i class="fa fa-close"></i></a>
             </td>
        </tr>
        <tr class="table-warning">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <a class="mr-3"><i class="fa fa-pencil"></i></a>
                <a ><i class="fa fa-close"></i></a>
             </td>
        </tr>
        <tr class="table-danger">
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <a class="mr-3" (click)="showModal=true " ><i class="fa fa-pencil"></i></a>
                <a ><i class="fa fa-close" > </i></a>
             </td>
        </tr>
        </tbody>
    </table>
    
</div>

  <!-- The Modal -->
  <div class="modal" id="myModal" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modifier une tache</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="showModal=false ">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form role="form">
            <fieldset class="form-group">
                <label>Name of tache</label>
                <input class="form-control">
                
            </fieldset>
            </form>
        </div>
            <div class="col-lg-3">
            <form role="form">
                <fieldset class="form-group">
                    <label>Date tache </label>
                    <input class="form-control">
                    
                </fieldset>
                </form>
            
                <label>Nom d'empolyee</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
            
            </div>
           
                <div class="form-group">
                    <label>Nom chef d'equipe</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    
                      
                    
                </div>
          
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                

        </div>
   
            
          
              
                    
                        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="showModal=false ">Close</button>
        </div>
  
      </div>
    </div>
  </div>

</div>